:root{
    --php:#a7acf9;
    --javascript:#fff070;
    --python: #61b9ff;
    --java:#ff6f71;
    --c:#5c91c8;
    --vue:#6feca3;
    --typescript:#4a98e9;
    --bootstrap:#c292ff;
    --bd:#61b9ff;
    --ferrametas:#a3a3a3;

    --qtd-projetos:3;
    --width:390;
    --height:220;
}


*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    background-color: #151515; 
    color: #101010;
    font-family: "Inter";
    max-width: 100dvw;
    max-height:100%;
}

.root{
    margin: 40px 80px;
    background-color: #fdfdfd;
    height: 100%;
}

h1{
    font-size: 5.92rem;
    font-weight:bold;
    text-align:center;
}
h2{
    font-size: 2rem;
}
.head-content{
    /* display: flex;
    flex-direction:column; */
    padding: 1rem;
}

.head-content>h2{
    height: fit-content;
    width: fit-content;
    margin-inline:auto;
    margin-bottom: .5rem;
}

.head-content>h3{
    height: fit-content;
    width: fit-content;
    margin-inline:auto;
    color: #eaeaea;
    background-color: #202020;
    padding: .5rem 1rem;
    border-radius: 1.2rem;
    line-height: 1.2rem;
}