@import "./global.css";
@import "./footer.css";
@import "./experiencias.css";

/*override .experiencias.css*/

.ativa{
    height: 500px;
    width: 1000px;
    position: absolute;
    box-shadow: 0 0 100px rgba(15,15,15,1);
}