/*Secao e-mail footer*/

.titulos-secao{
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
}

.titulos-secao>a{
    color: var(--java);
}

#titulo-secao-email-destaque{
    line-height: 3rem;
    font-size: 2.7rem;
    margin-bottom: .5rem;
}

.formulario{
    flex-direction: column;
    width: 50%;
    border:2px solid #efefef;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 0 30px rgba(204, 204, 204, .8);
    margin-inline:auto;
    gap: .75rem;
    transition: width 1s ease;

}

.formulario>*{
    font-size: 1.05rem;
}

.formulario>input{
    width: 90%;
    margin-inline: auto;
    font-size: 1.1rem;
    height: 3.15rem;
    padding: .25rem;
    border-radius: 8px;
    border: 1px solid gray;
    transition: width 1s ease;
    
}

.formulario>input:focus{
    width: 100%;
}

.formulario>button{
    font-weight: bold;
    width: fit-content;
    padding: .25rem .5rem;
    cursor: pointer;
    background-color: var(--vue);
    border-style: none;
    border:2px solid #a1ffc8;
    box-shadow: 0 0 30px#6feca3;
    border-radius: 8px;
    margin-left:4.7% ;
}



@keyframes inifiniteSlider{
    from{
       
        
    left: 100%;
        
    }

    to{
        left: calc(-100%);

    }



}