@import "/src/css/global.css";
@import "/src/css/footer.css";
@import "/src/css/experiencias.css";

/* h2{
    text-align: center;
} */


.container-legenda{
    text-align: center;
}

#top15-designs{
    flex-direction: row;
    justify-content: center;
}
/*aqui estaria o .youtube-iframe*/
#top15-designs>iframe{
    height: 600px;
    width: 300px;
}

#light-highlight{
    background-color:#a1ffc8;
    padding-inline: 5px;
    color: inherit;
}

@media (max-width:450px){
    #top15-designs > iframe {
  height: 300px;
  width: 150px;
}
}